
body {
  background-color: white;
}
.welcome {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 4em;
  margin-bottom: 20px;
}


.email-box {
  background-color: #fff;
  padding: 50px;
  border-radius: 2px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,.1);

}


.about-text {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  margin: 20px 0;
  text-align: center;
}

.btn-github, .btn-github:hover{
  background-color: rgb(239, 73, 53);
  border-color: transparent;
  text-align: center;
}

.features i.fa {
  color: rgb(239, 73, 53);
  font-size: 3em;
  text-align: right;
}


